<div class="main_wrap">
    <% unless logged_in? && current_user.active? %>
    
      TODO: mensaje de usuario no activo
   
    <% else %>
			<% if current_user.groups.length == 0 %>
				You need to be a member of at least one group before creating a news item.
			<% else %>
			<div class="module_title">Create Story</div>
			  <div class="main_content">
		      <%= error_messages_for :story %>
		      <% form_for :story, :url => {:action => :create},  :html => {:id => "settings"} do |f| -%>
		        <p>
		          <label for="title"><strong>Title:</strong></label>
		           <%= f.text_field :title, {:size => 40, :class => "fieldbox wide"} %>
		          </label>  
		        </p>
		        <p>
		         <label for="tags"><strong>Tags (separate with commas):</strong><br />
		            <%= f.text_field :tag_list, {:size => nil} -%>
		         </label>
		        </p>
		        <p>
		         <label for="tags"><strong><%= I18n.t("tog_headlines.model.publish_date") %></strong><br />
		          <%=f.date_select :publish_date, :class=>"fieldbox" %>
		         </label>                     
		        </p>
		        <% unless current_user.groups.empty? %>
		        <p>
		          <label for="text"><strong>Group:</strong><br/>
							 <%= select_tag "story[group]", options_for_select(current_user.groups.map{|g| g.name}) %>
		        </p>
		        <% end %>
		        <p>
		          <label for="archive_date"><%= I18n.t("tog_headlines.model.archive_date") %></strong><br />
		          <%=f.date_select :archive_date, :class=>"fieldbox" %>
		          </label>                   
		        </p>         
		        <p>
		         <label for="text"><strong>Summary:</strong><br />
		            <%= f.text_area :summary, {:cols => 40, :rows => 7, :class => "fieldbox wide"} %>
		         </label>
		        </p>
		        <p>
		          <label for="text"><strong>Body:</strong><br />
		            <%= f.text_area :body, {:cols => 40, :rows => 7, :class => "fieldbox wide"} %>
		          </label>  
		        </p>
		        <div class="form_actions center">
		          <br />
		          <%= submit_tag 'Publish', {:class=>"button1", :style => "font-size: 1em;"} %>
		        </div>
	   			</div> <!-- ./main_content -->
	      <% end -%>  
      <% end -%>
    <% end -%>    

     <!--/form-->



</div> <!-- /.main_wrap -->

